<div class="wrapper">
    <div class="title-party">
        <app-party title="ימי הולדת" icon="cake"></app-party>
    </div>
    <div class="Text-content-party">
        מה הדבר הכי כיף ביום הולדת? האוכל כמובן!
        <br> לחגוג יום הולדת זה כיף ומשמח, אבל אם אתם מארגנים את היומולדת, זה דורש מכם קצת התרצצויות וכאב ראש לא קטן…
        <br>יומולדת ב <img [src]="'../../assets/images/caption/captionImg.PNG'" style="width: 6%;
        padding-bottom: 1%;" />– כי מה יותר כיף ?
        <br> הבאתם את התפריט שלנו ליומולדת? שיחקתם אותה, בהחלט הבחירה שכולם אוהבים!
        <br> ואם כבר .. אז שגם המבוגרים יהנו, ובשביל הילדים שלכם? הטוב ביותר.
        <br> תוכלו להזמין מתפריט עשיר ומגוון הכולל גם סלטים, פסטות וקינוחים.
        <br> מחירים מיוחדים בהזמנה מעל 5 מגשים. דברו איתנו 055-9222222 או השאירו פרטים:
    </div>
    <div>
        <app-contact-details component="birthday"></app-contact-details>
    </div>
</div>