<div>
    <app-party title="ימי הולדת" icon="cake"></app-party>
</div>
<div>
    מה הדבר הכי כיף ביום הולדת? האוכל כמובן! לחגוג יום הולדת זה כיף ומשמח, אבל אם אתם מארגנים את היומולדת, זה דורש מכם קצת התרצצויות וכאב ראש לא קטן… יומולדת אצלינו– כי מה יותר כיף ? הבאתם את התפריט שלנו ליומולדת? שיחקתם אותה, בהחלט הבחירה שכולם אוהבים! ואם
    כבר .. אז שגם המבוגרים יהנו, ובשביל הילדים שלכם? הטוב ביותר. תוכלו להזמין מתפריט עשיר ומגוון הכולל גם סלטים, פסטות וקינוחים. מחירים מיוחדים בהזמנה מעל 5 מגשים. דברו איתנו 055-9222222 או השאירו פרטים:
</div>
<div>
    <app-contact-details component="birthday"></app-contact-details>
</div>