<form class="party-form">
    <mat-form-field class="party-form-field" required>
        <mat-label>שם</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="party-form-field" required>
        <mat-label>טלפון</mat-label>
        <input matInput>
        <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{4}-[0-9]{3}" required>
    </mat-form-field>
    <mat-form-field class="party-form-field" required>
        <mat-label>מייל</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="party-form-field" required>
        <mat-label>למתי האירוע</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="party-form-field" required>
        <mat-label>מספר אנשים משוער</mat-label>
        <input matInput>
    </mat-form-field>
</form>