<form class="party-form" [formGroup]="formGroupParty">
    <mat-form-field class="party-form-field">
        <mat-label>שם</mat-label>
        <input matInput formControlName="name" name="name">
    </mat-form-field>
    <mat-form-field class="party-form-field ">
        <mat-label>טלפון</mat-label>
        <input matInput formControlName="phone" name="phone" type="tel " id="phone " name="phone " pattern="[0-9]{3}-[0-9]{4}-[0-9]{3} " required>
    </mat-form-field>
    <mat-form-field class="party-form-field ">
        <mat-label>מייל</mat-label>
        <input matInput formControlName="mail" name="mail">
    </mat-form-field>
    <mat-form-field class="party-form-field " *ngIf="isDateEvent==true">
        <mat-label>למתי האירוע</mat-label>
        <input matInput formControlName="dateEevent" name="dateEvent">
    </mat-form-field>
    <mat-form-field class="party-form-field " *ngIf="iscountOfPeople==true">
        <mat-label>מספר אנשים משוער</mat-label>
        <input matInput formControlName="countOfPeople" name="countOfPeople">
    </mat-form-field>
</form>