.kind-option {
    width: 100%;
    background: #9a2d44;
    color: white;
    height: 60px;
    padding: 2%;
    font-size: 17px;
}

.tooltip {
    font-size: large;
}

.in-kind-option {
    display: inline;
    margin-right: 2%;
    margin-left: 2%;
}

.contact {
    color: white;
    margin-right: 0%
}

app-menu-by-categoty .main_sidebar {
    display: inline-block;
    width: 80%;
}

.menu-by-categoty {
    width: 24%;
}