.tool-up {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 6%;
    background-color: #9a2d44;
}

mat-card {
    margin-bottom: 2%;
}

label {
    margin-right: 38%;
    font-size: 24px;
}

.edit {
    position: absolute;
    left: 7%;
    top: 6%;
}

.pay {
    margin-right: 9%;
    margin-top: 3%;
}

.title-order {
    color: #8c1829;
    font-size: x-large;
}

.pre-order {
    background: #efefef75;
    border: solid;
    border-color: #9a2d44;
    border-width: thin;
    width: 152%;
    text-align: center;
    padding: 8%;
}

.pre-order button {
    margin-right: 2%;
}