
<div>
    <button mat-button color="primary" (click)="AddDoseToCategory()">הוספת מנה לתפריט</button>
</div>
<ng-container>
    <!-- <app-add-dose-category *ngIf=isOpenAddDose></app-add-dose-category> -->
</ng-container>
<mat-card *ngFor="let item of menuCategoryList">
    <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>{{item.nameDose}}</mat-card-title>
        <mat-card-subtitle>
            {{item.description}} {{' ₪ '+item.price}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div>
            <img class='image' [src]="'../../assets/images/products/'+item.category+'/'+item.image">
        </div>
        <hr>
    </mat-card-content>
    <mat-card-actions>
        <div class="delete-action">
            <button mat-mini-fab (click)="deleteDose(item)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div class="edit-action" (click)="editDose(item)">
            <button mat-mini-fab >
              <mat-icon>edit</mat-icon>
            </button>
          </div>
    </mat-card-actions>
</mat-card>
