<div>
    <div class="wrapper-cart" *ngFor="let item of cart">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{item.menu}}</mat-card-title>
                <mat-card-subtitle>
                    {{item.amount}}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <mat-icon (click)="openDialogRemove(item.idDose)">remove_circle_outline</mat-icon>
                <mat-icon (click)="addProduct(item.idDose)">add_circle_outline</mat-icon>
            </mat-card-actions>
        </mat-card>
    </div>
    <button mat-button (click)="addInvent()">
            אשר הזמנה 
</button>
</div>