<mat-toolbar color="primary">
    <mat-toolbar-row>

        <span class="search">
            <mat-form-field>
                <input matInput type="text" [(ngModel)]="value">
                <mat-icon matSuffix *ngIf="!value">search</mat-icon>
                <button mat-button *ngIf="value" matSuffix mat-icon-button (click)="value=''">
            
                </button>
                <label>{{userService.userName}}</label>
            </mat-form-field>
        </span>
        <mat-icon>account_box</mat-icon>
        <button mat-button class="user-enter" *ngIf='!userService.singIn' (click)="openBottomSheetSignin()">הרשם</button>
        <button *ngIf='!userService.singIn' mat-button class="user-enter" (click)="openBottomSheetLogin()">התחבר</button>
        <button *ngIf='userService.singIn' mat-button class="user-enter" (click)="getOut()">יציאה</button>
        <!-- <mat-icon>account_box</mat-icon>
        <button mat-button class="user-enter" (click)="openBottomSheetSignin()">הרשם</button>
        <button mat-button class="user-enter" (click)="openBottomSheetLogin()">התחבר</button> -->

    </mat-toolbar-row>
</mat-toolbar>