<mat-toolbar color="primary">
    <mat-toolbar-row>

        <button mat-raised-button  [matBadge]="numNewMessege" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()">
            <mat-icon >mail_outline</mat-icon>
        </button>
        <div *ngIf='userService.singIn' class="userName">
            <mat-icon>account_circle </mat-icon>
            שלום {{userService.userName}}
        </div>
        <button mat-button class="user-enter" *ngIf='!userService.singIn' (click)="openBottomSheetSignin()">הרשם</button>
        <button *ngIf='!userService.singIn' mat-button class="user-enter" (click)="openBottomSheetLogin()">התחבר</button>
        <button *ngIf='userService.singIn' mat-button class="user-enter" (click)="getOut()">
            <mat-icon>exit_to_app</mat-icon>
            יציאה
        </button>
        <!-- <mat-icon>account_box</mat-icon>
        <button mat-button class="user-enter" (click)="openBottomSheetSignin()">הרשם</button>
        <button mat-button class="user-enter" (click)="openBottomSheetLogin()">התחבר</button> -->

    </mat-toolbar-row>
</mat-toolbar>