<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="search"> 
            <mat-form-field>
                <input matInput type="text" [(ngModel)]="value" >
                <mat-icon matSuffix *ngIf="!value">search</mat-icon>
                <button mat-button *ngIf="value" matSuffix mat-icon-button (click)="value=''">
                    <mat-icon>{{userName}}</mat-icon>
                </button>
                <label >{{userName}}</label>
            </mat-form-field>
        </span>
        <mat-icon>account_box</mat-icon>
        <button mat-button class="user-enter" (click)="openBottomSheetSignin()">הרשם</button>
        <button *ngIf='singIn' mat-button class="user-enter" (click)="openBottomSheetLogin()">התחבר</button>
        <button *ngIf='!singIn' mat-button class="user-enter" (click)="getOut()">יציאה</button>
        <span><a></a></span>
        <span><a></a></span>
    </mat-toolbar-row>
</mat-toolbar>