<!-- לכל בחירה מרשימת התפריטים אמור להיות 
  הקוד הנל שהוא עבור כל קטגוריה
באמצעות קומפוננטה מקוננת  -->
<!-- <div *ngIf="error">{{error}}</div>
<div id="theListMenu">
    <h2>The list Menu</h2>
    <ul>
        <li *ngFor="let item of menuDetails">{{item.NameDose}} | {{item.price}} </li>
    </ul>
</div> -->


<!-- <div>
    <app-menu-by-categoty [InputIdCategory]="categoryId"></app-menu-by-categoty>
</div> -->
<div class="row">
    <div class="col-2">
        <app-menu-by-categoty></app-menu-by-categoty>
    </div>
    <div class="col-9">
        <app-dose-category></app-dose-category>
    </div>
    <div class="col">
        <app-mini-cart></app-mini-cart>
    </div>
</div>