.approval {
    width: 250px;
    height: 180px;
    text-align: center;
}

.help {
    font-size: 50px;
}

.p {
    font-size: x-large;
}

p {
    font-size: large;
}

.next {
    text-align: left;
}