<app-logo></app-logo>
<mat-tab-group mat-align-tabs="center">
        <mat-tab label="ניהול הזמנות">
        <ng-template mat-tab-label>
            ניהול הזמנת לקוחות 
            <mat-icon>menu</mat-icon>
        </ng-template>
        <app-customers-order></app-customers-order>
    </mat-tab>
    <mat-tab label="הפרופיל שלי ">
        פרופיל שלי
    </mat-tab>
    <mat-tab label="הפרופיל שלי ">
        הזמנות מיוחדות לטיפול 
        <app-special-order></app-special-order>
    </mat-tab>
</mat-tab-group>
