<div class="tool-up"></div>
<app-logo></app-logo>
<div class="wrapper">
    <div>
        <div #paypal1></div>
    </div>
    <ngx-paypal [config]="payPalConfig"></ngx-paypal>

    <div><button mat-flat-button color="primary" (click)="payment()">
            <mat-icon> payments</mat-icon>
            שולם
        </button>
    </div>
    <div>
        <button mat-flat-button color="primary" (click)="backHome()">
            <mat-icon>exit_to_app</mat-icon>
            ביטול וחזרה לפרטי הזמנה
        </button>
    </div>
</div>