<div class="wrapper">
    <div class="title-party">
        <app-party title="שוברי מתנה" icon="card_giftcard"></app-party>
    </div>
    <div class="Text-content-party">
        מחפשים דרך יצירתית לפנק את העובדים?
        <br> מה יותר כיף מלקבל הודעה שמגיעה לך ארוחה במתנה!
        <br> שוברי מתנה לעובדים זאת אפשרות מצוינת להראות להם הערכה ולפנק אותם בדרך הכי טעימה שיש.
        <br> ב <img [src]="'../../assets/images/caption/captionImg.PNG'" style="width: 6%;
        padding-bottom: 1%;" /> תוכלו להעניק לעובדים שלכם שוברים במגוון דרכים, רק תבחרו את הדרך שנוחה לכם:
        <br> SMS, שוברים מעוצבים בקובץ סגור לדפוס או בנק של קופונים לשימושכם.
        <br> לפרטים נוספים והצעת מחיר חייגו 055-9222222 או השאירו פרטים:
    </div>
    <app-contact-details component="giftcard"></app-contact-details>
</div>