<div class="wrapper">
    <div>
        <app-party title="שוברי מתנה" icon="card_giftcard"></app-party>
    </div>
    <div>מחפשים דרך יצירתית לפנק את העובדים? מה יותר כיף מלקבל הודעה שמגיעה לך ארוחה במתנה! שוברי מתנה לעובדים זאת אפשרות מצוינת להראות להם הערכה ולפנק אותם בדרך הכי טעימה שיש. אצלינו תוכלו להעניק לעובדים שלכם שוברים במגוון דרכים, רק תבחרו את הדרך שנוחה לכם:
        SMS, שוברים מעוצבים בקובץ סגור לדפוס או בנק של קופונים לשימושכם. לפרטים נוספים והצעת מחיר חייגו 055-9222222 או השאירו פרטים:
    </div>
    <div>
        <app-giftcard-contact></app-giftcard-contact>
    </div>
</div>