<form [formGroup]="formGroupLogin" style="display: inline-grid;">
    <mat-form-field appearance="outline">
        <mat-label>הזן קוד משתמש </mat-label>
        <input matInput formControlName="username">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>הזן סיסמא</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    </mat-form-field>

    <button mat-stroked-button color="bordo" (click)="login()">התחבר</button>
</form>