<mat-card>
    <div class="wrapper">
        <div class="title-party">
            <app-party title="קייטרינג" icon="local_dining"></app-party>
        </div>
        <div class="Text-content-party">
            יש לכם אורחים בבית או בעסק? אנחנו הפתרון!
            <br>
            <img [src]="'../../assets/images/caption/captionImg.PNG'" style="width: 6%;
        padding-bottom: 1%;" /> מביאים לכם את החוויה הקולינרית האיכותית אליכם עד הבית!
            <br> הסלטים, הלאפות, הבשרים המשובחים וצוות הגרילמנים המיומן שלנו יגיעו עד אליכם.
            <br>ואתם? תשארו עם אפס דאגות! יש אפשרות להשכרת ציוד בלבד,
            <br> ניתן לשדרג את סוגי הבשר לפי בחירתכם או להוסיף.
            <br> מינימום הזמנה 3,500 ש ''ח. לפרטים נוספים והזמנת קייטרינג לאירוע השאירו פרטים בטופס או התקשרו עכשיו: 073-7584240 </div>
        <div class="contact">
            <app-contact-details component="catering"></app-contact-details>
        </div>
    </div>
</mat-card>