<div>
    <app-party title="קייטרינג" icon="local_dining"></app-party>
</div>
<div>
    יש לכם אורחים בבית או בעסק? אנחנו הפתרון! אנחנו מביאים לכם את החוויה הקולינרית האיכותית אליכם עד הבית! הסלטים, הלאפות, הבשרים המשובחים וצוות הגרילמנים המיומן שלנו יגיעו עד אליכם. ואתם? תשארו עם אפס דאגות! יש אפשרות להשכרת ציוד בלבד, ניתן לשדרג את סוגי
    הבשר לפי בחירתכם או להוסיף. מינימום הזמנה 3,500 ש''ח. לפרטים נוספים והזמנת קייטרינג לאירוע השאירו פרטים בטופס או התקשרו עכשיו: 073-7584240
</div>
<div>
    <app-contact-details component="catering"></app-contact-details>
</div>