table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th,
td {
    text-align: right;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.wapper {
    text-align: center;
}

.new-worker {
    margin-bottom: 5%;
}