table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #fbf8f8;
}

.shift1,
.shift2 {
    border-left: solid;
    border-left-color: #9a2d44;
    text-align: center;
}

th,
td {
    text-align: left;
    padding: 16px;
}

.table {
    text-align: center;
    direction: rtl;
}

/* tr:nth-child(even) {
    background-color: #f2f2f2;
} */

.day {
    border-bottom: solid;
    border-bottom-color: #9a2d44;
}

.button {
    font-size: 17px;
    font-size: 17px;
    position: relative;
    top: 25px;
    right: 52%;
}
.bordered{
background-color:gray;

}
.greyedOut{
    background-color: #fbf8f8;
}
