<div class="pre-order" *ngIf="isAcceptance">
    <p class="title-order"> הזמנה שלי :</p>
    <hr>
    <div *ngFor="let item of doneInvent;let index=index">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{item.nameDose}}</mat-card-title>
                <mat-card-subtitle>
                    <div> כמות הזמנת מנה : {{item.amount}} </div>
                    <div> מחיר : {{item.amount*item.price}} </div>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
    </div>
    <label> סה"כ תשלום : {{Totalprice}} ₪</label>
    <button mat-flat-button color="primary" (click)="setPayment()">
        <mat-icon>payment</mat-icon> לתשלום
    </button>
    <button class="edit" mat-flat-button color="primary" (click)="changeMode()">
        <mat-icon>
            edit
        </mat-icon>
    </button>
</div>
<div class="wrapper-cart" *ngIf="inRestaurant.presentCart">
    <p class="title-cart">סיכום הזמנה</p>
    <p class="sub-title-cart">שולחן מספר : {{numInvent}}</p>
    <hr>
    <div *ngFor="let item of itemsInCart;let index=index">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{item.nameDose}}</mat-card-title>
                <mat-card-subtitle>
                    <div> כמות הזמנת מנה : {{item.amount}} </div>
                    <div>מחיר למנה יחידה :{{' ₪ '+item.price}}</div>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <button mat-icon-button color="primary" class="minus-icon">
                    <mat-icon (click)="lessProductInRes(item)">remove_circle_outline</mat-icon>
                </button>
                <button mat-icon-button color="primary" class="plus-icon">
                    <mat-icon (click)="addProductInRes(item)">add_circle_outline</mat-icon>
                </button>
                <button mat-icon-button color="primary" class="delete-icon" (click)="openDialogRemoveInRes(item.idMenu,index)">
                    <mat-icon >delete</mat-icon>
                </button>
                <label>סה"כ : {{item.price*item.amount}} ₪</label>
            </mat-card-actions>
        </mat-card>
    </div>
    <p> סה"כ תשלום הההזמנה: {{getTotal()}} ₪</p>
    <button mat-flat-button color="primary" (click)="addInventInRes()">
        <mat-icon>task_alt</mat-icon> אשר הזמנה
    </button>
    <button mat-flat-button color="primary" (click)="removeOrder()">
        בטל הזמנה </button>
</div>