<p>sign-in works!</p>
<div class="login-content">
    <div class="login-box ">
        <div class="login-logo"> </div>
        <strong class="challenge-heading">כניסה</strong>
        <span class="challenge-desc signin-sub-title">באמצעות חשבון 2 שלך</span> (ryonvV0


        <form id="login-username-form" method="post" class="no-img-label-space">
            <input type="hidden" name="acrumb" value="mXoBD6GY">
            <input type="hidden" name="sessionIndex" value="QQ--">

            <div id="username-country-code-field" class="username-country-code cci-dropdown-disabled code-of-length-3">
                <div id="selected-country-code-cont" class="country-code-dropdown selected-country-code-cont ltr hide">
                    <div id="selected-country-code" class="selected-country-code">+972</div>
                    <span class="arrow"></span>
                </div>
                <div id="country-dropdown-container" class="country-code-dropdown country-dropdown-container hide">
                    <div class="puree-dropdown">
                        <label class="offscreen" id="country-code-lbl-aria">הזן קוד מדינה</label>
                        <select type="select" name="countryCodeIntl" aria-required="true" role="combobox" aria-multiline="false" aria-labelledby="country-code-lbl-aria" disabled="">
        <option role="option" data-code="+93" value="AF">אפגניסטן ‪(+93)‬</option>
        <option role="option" data-code="+355" value="AL">אלבניה ‪(+355)‬</option>
        <option role="option" data-code="+213" value="DZ">אלג'יריה ‪(+213)‬</option>
        <option role="option" data-code="+1" value="AS">סמואה האמריקאית ‪(+1)‬</option>
        <option role="option" data-code="+376" value="AD">אנדורה ‪(+376)‬</option>
        <option role="option" data-code="+244" value="AO">אנגולה ‪(+244)‬</option>
        <option role="option" data-code="+1" value="AI">אנגווילה ‪(+1)‬</option>
        <option role="option" data-code="+1" value="AG">אנטיגואה וברבודה ‪(+1)‬</option>
        <option role="option" data-code="+54" value="AR">ארגנטינה ‪(+54)‬</option>
        <option role="option" data-code="+374" value="AM">ארמניה ‪(+374)‬</option>
        <option role="option" data-code="+297" value="AW">ארובה ‪(+297)‬</option>
        <option role="option" data-code="+247" value="AC">איי אסנסיון ‪(+247)‬</option>
        <option role="option" data-code="+61" value="AU">אוסטרליה ‪(+61)‬</option>
        <option role="option" data-code="+672" value="AX">טריטוריות מחוץ ליבשת אוסטרליה ‪(+672)‬</option>
        <option role="option" data-code="+43" value="AT">אוסטריה ‪(+43)‬</option>
        <option role="option" data-code="+994" value="AZ">אזרבייג'ן ‪(+994)‬</option>
        <option role="option" data-code="+1" value="BS">איי בהאמה ‪(+1)‬</option>
        <option role="option" data-code="+973" value="BH">בחריין ‪(+973)‬</option>
        <option role="option" data-code="+880" value="BD">בנגלדש ‪(+880)‬</option>
        <option role="option" data-code="+1" value="BB">ברבדוס ‪(+1)‬</option>
        <option role="option" data-code="+375" value="BY">בלארוס ‪(+375)‬</option>
        <option role="option" data-code="+32" value="BE">בלגיה ‪(+32)‬</option>
        <option role="option" data-code="+501" value="BZ">בליז ‪(+501)‬</option>
        <option role="option" data-code="+229" value="BJ">בנין ‪(+229)‬</option>
        <option role="option" data-code="+1" value="BM">ברמודה ‪(+1)‬</option>
        <option role="option" data-code="+975" value="BT">בהוטן ‪(+975)‬</option>
        <option role="option" data-code="+591" value="BO">בוליביה ‪(+591)‬</option>
        <option role="option" data-code="+387" value="BA">בוסניה והרצגובינה ‪(+387)‬</option>
        <option role="option" data-code="+267" value="BW">בוצואנה ‪(+267)‬</option>
        <option role="option" data-code="+55" value="BR">ברזיל ‪(+55)‬</option>
        <option role="option" data-code="+1" value="VG">איי הבתולה הבריטיים ‪(+1)‬</option>
        <option role="option" data-code="+673" value="BN">ברוניי ‪(+673)‬</option>
        <option role="option" data-code="+359" value="BG">בולגריה ‪(+359)‬</option>
        <option role="option" data-code="+226" value="BF">בורקינה פאסו ‪(+226)‬</option>
        <option role="option" data-code="+257" value="BI">בורונדי ‪(+257)‬</option>
        <option role="option" data-code="+855" value="KH">קמבודיה ‪(+855)‬</option>
        <option role="option" data-code="+237" value="CM">קמרון ‪(+237)‬</option>
        <option role="option" data-code="+1" value="CA">קנדה ‪(+1)‬</option>
        <option role="option" data-code="+238" value="CV">כף ורדה ‪(+238)‬</option>
        <option role="option" data-code="+1" value="KY">איי קיימן ‪(+1)‬</option>
        <option role="option" data-code="+236" value="CF">הרפובליקה המרכז אפריקנית ‪(+236)‬</option>
        <option role="option" data-code="+235" value="TD">צ'אד ‪(+235)‬</option>
        <option role="option" data-code="+56" value="CL">צ'ילה ‪(+56)‬</option>
        <option role="option" data-code="+86" value="CN">סין ‪(+86)‬</option>
        <option role="option" data-code="+57" value="CO">קולומביה ‪(+57)‬</option>
        <option role="option" data-code="+269" value="KM">קומורו ‪(+269)‬</option>
        <option role="option" data-code="+242" value="CG">קונגו ‪(+242)‬</option>
        <option role="option" data-code="+682" value="CK">איי קוק ‪(+682)‬</option>
        <option role="option" data-code="+506" value="CR">קוסטה ריקה ‪(+506)‬</option>
        <option role="option" data-code="+225" value="CI">קוט ד'איוואר ‪(+225)‬</option>
        <option role="option" data-code="+385" value="HR">קרואטיה ‪(+385)‬</option>
        <option role="option" data-code="+53" value="CU">קובה ‪(+53)‬</option>
        <option role="option" data-code="+357" value="CY">קפריסין ‪(+357)‬</option>
        <option role="option" data-code="+420" value="CZ">הרפובליקה הצ'כית ‪(+420)‬</option>
        <option role="option" data-code="+243" value="CD">קונגו (הרפובליקה הדמוקרטית) ‪(+243)‬</option>
        <option role="option" data-code="+45" value="DK">דנמרק ‪(+45)‬</option>
        <option role="option" data-code="+246" value="DG">דייגו גרסיה ‪(+246)‬</option>
        <option role="option" data-code="+253" value="DJ">ג'יבוטי ‪(+253)‬</option>
        <option role="option" data-code="+1" value="DM">דומיניקה ‪(+1)‬</option>
        <option role="option" data-code="+1" value="DO">הרפובליקה הדומיניקנית ‪(+1)‬</option>
        <option role="option" data-code="+670" value="TL">מזרח טימור ‪(+670)‬</option>
        <option role="option" data-code="+593" value="EC">אקוודור ‪(+593)‬</option>
        <option role="option" data-code="+20" value="EG">מצרים ‪(+20)‬</option>
        <option role="option" data-code="+503" value="SV">אל סלבדור ‪(+503)‬</option>
        <option role="option" data-code="+240" value="GQ">גינאה המשוונית ‪(+240)‬</option>
        <option role="option" data-code="+291" value="ER">אריתריאה ‪(+291)‬</option>
        <option role="option" data-code="+372" value="EE">אסטוניה ‪(+372)‬</option>
        <option role="option" data-code="+251" value="ET">אתיופיה ‪(+251)‬</option>
        <option role="option" data-code="+500" value="FK">איי פוקלנד ‪(+500)‬</option>
        <option role="option" data-code="+298" value="FO">איי פארו ‪(+298)‬</option>
        <option role="option" data-code="+679" value="FJ">פיג'י ‪(+679)‬</option>
        <option role="option" data-code="+358" value="FI">פינלנד ‪(+358)‬</option>
        <option role="option" data-code="+33" value="FR">צרפת ‪(+33)‬</option>
        <option role="option" data-code="+594" value="GF">גיאנה הצרפתית ‪(+594)‬</option>
        <option role="option" data-code="+689" value="PF">פולינזיה הצרפתית ‪(+689)‬</option>
        <option role="option" data-code="+241" value="GA">גבון ‪(+241)‬</option>
        <option role="option" data-code="+220" value="GM">גמביה ‪(+220)‬</option>
        <option role="option" data-code="+995" value="GE">גיאורגיה ‪(+995)‬</option>
        <option role="option" data-code="+49" value="DE">גרמניה ‪(+49)‬</option>
        <option role="option" data-code="+233" value="GH">גאנה ‪(+233)‬</option>
        <option role="option" data-code="+350" value="GI">גיברלטר ‪(+350)‬</option>
        <option role="option" data-code="+30" value="GR">יוון ‪(+30)‬</option>
        <option role="option" data-code="+299" value="GL">גרינלנד ‪(+299)‬</option>
        <option role="option" data-code="+1" value="GD">גרנדה ‪(+1)‬</option>
        <option role="option" data-code="+590" value="GP">גודלופ ‪(+590)‬</option>
        <option role="option" data-code="+1" value="GU">גואם ‪(+1)‬</option>
        <option role="option" data-code="+502" value="GT">גואטמלה ‪(+502)‬</option>
        <option role="option" data-code="+224" value="GN">גינאה ‪(+224)‬</option>
        <option role="option" data-code="+245" value="GW"> ‪(+245)‬</option>
        <option role="option" data-code="+592" value="GY">גיאנה ‪(+592)‬</option>
        <option role="option" data-code="+509" value="HT">האיטי ‪(+509)‬</option>
        <option role="option" data-code="+504" value="HN">הונדורס ‪(+504)‬</option>
        <option role="option" data-code="+852" value="HK">הונג קונג ‪(+852)‬</option>
        <option role="option" data-code="+36" value="HU">הונגריה ‪(+36)‬</option>
        <option role="option" data-code="+354" value="IS">איסלנד ‪(+354)‬</option>
        <option role="option" data-code="+91" value="IN">הודו ‪(+91)‬</option>
        <option role="option" data-code="+62" value="ID">אינדונזיה ‪(+62)‬</option>
        <option role="option" data-code="+98" value="IR">איראן ‪(+98)‬</option>
        <option role="option" data-code="+964" value="IQ">עיראק ‪(+964)‬</option>
        <option role="option" data-code="+353" value="IE">אירלנד ‪(+353)‬</option>
        <option role="option" data-code="+972" value="IL" selected="selected">ישראל ‪(+972)‬</option>
        <option role="option" data-code="+39" value="IT">איטליה ‪(+39)‬</option>
        <option role="option" data-code="+1" value="JM">ג'מייקה ‪(+1)‬</option>
        <option role="option" data-code="+81" value="JP">יפן ‪(+81)‬</option>
        <option role="option" data-code="+962" value="JO">ירדן ‪(+962)‬</option>
        <option role="option" data-code="+7" value="KZ">קזחסטן ‪(+7)‬</option>
        <option role="option" data-code="+254" value="KE">קניה ‪(+254)‬</option>
        <option role="option" data-code="+686" value="KI">קיריבטי ‪(+686)‬</option>
        <option role="option" data-code="+965" value="KW">כוויית ‪(+965)‬</option>
        <option role="option" data-code="+996" value="KG">קירגיזסטן ‪(+996)‬</option>
        <option role="option" data-code="+856" value="LA">לאוס ‪(+856)‬</option>
        <option role="option" data-code="+371" value="LV">לטביה ‪(+371)‬</option>
        <option role="option" data-code="+961" value="LB">לבנון ‪(+961)‬</option>
        <option role="option" data-code="+266" value="LS">לסותו ‪(+266)‬</option>
        <option role="option" data-code="+231" value="LR">ליבריה ‪(+231)‬</option>
        <option role="option" data-code="+218" value="LY">לוב ‪(+218)‬</option>
        <option role="option" data-code="+423" value="LI">ליכטנשטיין ‪(+423)‬</option>
        <option role="option" data-code="+370" value="LT">ליטא ‪(+370)‬</option>
        <option role="option" data-code="+352" value="LU">לוקסמבורג ‪(+352)‬</option>
        <option role="option" data-code="+853" value="MO">מקאו ‪(+853)‬</option>
        <option role="option" data-code="+389" value="MK">מקדוניה ‪(+389)‬</option>
        <option role="option" data-code="+261" value="MG">מדגסקר ‪(+261)‬</option>
        <option role="option" data-code="+265" value="MW">מלאווי ‪(+265)‬</option>
        <option role="option" data-code="+60" value="MY">מלזיה ‪(+60)‬</option>
        <option role="option" data-code="+960" value="MV">מלדיבים ‪(+960)‬</option>
        <option role="option" data-code="+223" value="ML">מאלי ‪(+223)‬</option>
        <option role="option" data-code="+356" value="MT">מלטה ‪(+356)‬</option>
        <option role="option" data-code="+692" value="MH">איי מרשל ‪(+692)‬</option>
        <option role="option" data-code="+596" value="MQ">מרטיניק ‪(+596)‬</option>
        <option role="option" data-code="+222" value="MR">מאוריטניה ‪(+222)‬</option>
        <option role="option" data-code="+230" value="MU">מאוריציוס ‪(+230)‬</option>
        <option role="option" data-code="+52" value="MX">מקסיקו ‪(+52)‬</option>
        <option role="option" data-code="+691" value="FM">מיקרונזיה ‪(+691)‬</option>
        <option role="option" data-code="+373" value="MD">מולדובה ‪(+373)‬</option>
        <option role="option" data-code="+377" value="MC">מונקו ‪(+377)‬</option>
        <option role="option" data-code="+976" value="MN">מונגוליה ‪(+976)‬</option>
        <option role="option" data-code="+382" value="ME">מונטנגרו ‪(+382)‬</option>
        <option role="option" data-code="+1" value="MS">מונטסרט ‪(+1)‬</option>
        <option role="option" data-code="+212" value="MA">מרוקו ‪(+212)‬</option>
        <option role="option" data-code="+258" value="MZ">מוזמביק ‪(+258)‬</option>
        <option role="option" data-code="+95" value="MM">מיאנמר ‪(+95)‬</option>
        <option role="option" data-code="+264" value="NA">נמיביה ‪(+264)‬</option>
        <option role="option" data-code="+674" value="NR">נאורו ‪(+674)‬</option>
        <option role="option" data-code="+977" value="NP">נפאל ‪(+977)‬</option>
        <option role="option" data-code="+31" value="NL">הולנד ‪(+31)‬</option>
        <option role="option" data-code="+599" value="AN"> ‪(+599)‬</option>
        <option role="option" data-code="+687" value="NC">קלדוניה החדשה ‪(+687)‬</option>
        <option role="option" data-code="+64" value="NZ">ניו זילנד ‪(+64)‬</option>
        <option role="option" data-code="+505" value="NI">ניקרגואה ‪(+505)‬</option>
        <option role="option" data-code="+227" value="NE">ניז'ר ‪(+227)‬</option>
        <option role="option" data-code="+234" value="NG">ניגריה ‪(+234)‬</option>
        <option role="option" data-code="+683" value="NU">נואי ‪(+683)‬</option>
        <option role="option" data-code="+850" value="KP">קוריאה הצפונית ‪(+850)‬</option>
        <option role="option" data-code="+1" value="MP">איי מריאנה הצפוניים ‪(+1)‬</option>
        <option role="option" data-code="+47" value="NO">נורווגיה ‪(+47)‬</option>
        <option role="option" data-code="+968" value="OM">עומאן ‪(+968)‬</option>
        <option role="option" data-code="+92" value="PK">פקיסטן ‪(+92)‬</option>
        <option role="option" data-code="+680" value="PW">פלאו ‪(+680)‬</option>
        <option role="option" data-code="+970" value="PS">הרשות הפלשתינית ‪(+970)‬</option>
        <option role="option" data-code="+507" value="PA">פנמה ‪(+507)‬</option>
        <option role="option" data-code="+675" value="PG">פפואה-גינאה החדשה ‪(+675)‬</option>
        <option role="option" data-code="+595" value="PY">פרגוואי ‪(+595)‬</option>
        <option role="option" data-code="+51" value="PE">פרו ‪(+51)‬</option>
        <option role="option" data-code="+63" value="PH">הפיליפינים ‪(+63)‬</option>
        <option role="option" data-code="+48" value="PL">פולין ‪(+48)‬</option>
        <option role="option" data-code="+351" value="PT">פורטוגל ‪(+351)‬</option>
        <option role="option" data-code="+1" value="PR">פורטו ריקו ‪(+1)‬</option>
        <option role="option" data-code="+974" value="QA">מדינת קטאר ‪(+974)‬</option>
        <option role="option" data-code="+262" value="RE">ראוניון ‪(+262)‬</option>
        <option role="option" data-code="+40" value="RO">רומניה ‪(+40)‬</option>
        <option role="option" data-code="+7" value="RU">רוסיה ‪(+7)‬</option>
        <option role="option" data-code="+250" value="RW">רואנדה ‪(+250)‬</option>
        <option role="option" data-code="+290" value="SH">סנט הלנה ‪(+290)‬</option>
        <option role="option" data-code="+1" value="KN">סנט קיטס ונוויס ‪(+1)‬</option>
        <option role="option" data-code="+1" value="LC">סנט לוסיה ‪(+1)‬</option>
        <option role="option" data-code="+508" value="PM">סנט פייר ומיקלון ‪(+508)‬</option>
        <option role="option" data-code="+1" value="VC">סנט וינסנט והגרנדינים ‪(+1)‬</option>
        <option role="option" data-code="+685" value="WS">סמואה ‪(+685)‬</option>
        <option role="option" data-code="+378" value="SM">סן מרינו ‪(+378)‬</option>
        <option role="option" data-code="+239" value="ST">סאו טומה ופרינסיפה ‪(+239)‬</option>
        <option role="option" data-code="+966" value="SA">ערב הסעודית ‪(+966)‬</option>
        <option role="option" data-code="+221" value="SN">סנגל ‪(+221)‬</option>
        <option role="option" data-code="+381" value="RS">סרביה ‪(+381)‬</option>
        <option role="option" data-code="+248" value="SC">סיישל ‪(+248)‬</option>
        <option role="option" data-code="+232" value="SL">סיירה ליאון ‪(+232)‬</option>
        <option role="option" data-code="+65" value="SG">סינגפור ‪(+65)‬</option>
        <option role="option" data-code="+421" value="SK">סלובקיה ‪(+421)‬</option>
        <option role="option" data-code="+386" value="SI">סלובניה ‪(+386)‬</option>
        <option role="option" data-code="+677" value="SB">איי שלמה ‪(+677)‬</option>
        <option role="option" data-code="+252" value="SO">סומליה ‪(+252)‬</option>
        <option role="option" data-code="+27" value="ZA">דרום אפריקה ‪(+27)‬</option>
        <option role="option" data-code="+82" value="KR">קוריאה הדרומית ‪(+82)‬</option>
        <option role="option" data-code="+34" value="ES">ספרד ‪(+34)‬</option>
        <option role="option" data-code="+94" value="LK">סרי לנקה ‪(+94)‬</option>
        <option role="option" data-code="+249" value="SD">סודן ‪(+249)‬</option>
        <option role="option" data-code="+597" value="SR">סורינם ‪(+597)‬</option>
        <option role="option" data-code="+268" value="SZ">סווזילנד ‪(+268)‬</option>
        <option role="option" data-code="+46" value="SE">שוודיה ‪(+46)‬</option>
        <option role="option" data-code="+41" value="CH">שוויץ ‪(+41)‬</option>
        <option role="option" data-code="+963" value="SY">סוריה ‪(+963)‬</option>
        <option role="option" data-code="+886" value="TW">טייוואן ‪(+886)‬</option>
        <option role="option" data-code="+992" value="TJ">טג'יקיסטן ‪(+992)‬</option>
        <option role="option" data-code="+255" value="TZ">טנזניה ‪(+255)‬</option>
        <option role="option" data-code="+66" value="TH">תאילנד ‪(+66)‬</option>
        <option role="option" data-code="+228" value="TG">טוגו ‪(+228)‬</option>
        <option role="option" data-code="+690" value="TK">טוקלאו ‪(+690)‬</option>
        <option role="option" data-code="+676" value="TO">טונגה ‪(+676)‬</option>
        <option role="option" data-code="+1" value="TT">טרינידד וטובגו ‪(+1)‬</option>
        <option role="option" data-code="+216" value="TN">טוניסיה ‪(+216)‬</option>
        <option role="option" data-code="+90" value="TR">טורקיה ‪(+90)‬</option>
        <option role="option" data-code="+993" value="TM">טורקמניסטן ‪(+993)‬</option>
        <option role="option" data-code="+1" value="TC">איי טרקס וקייקוס ‪(+1)‬</option>
        <option role="option" data-code="+688" value="TV">טובלו ‪(+688)‬</option>
        <option role="option" data-code="+1" value="VI">איי הבתולה (ארה"ב) ‪(+1)‬</option>
        <option role="option" data-code="+256" value="UG">אוגנדה ‪(+256)‬</option>
        <option role="option" data-code="+380" value="UA">אוקראינה ‪(+380)‬</option>
        <option role="option" data-code="+971" value="AE">איחוד האמירויות הערביות ‪(+971)‬</option>
        <option role="option" data-code="+44" value="GB">בריטניה ‪(+44)‬</option>
        <option role="option" data-code="+1" value="US" data-format="(XXX) XXX-XXXX">ארצות הברית ‪(+1)‬</option>
        <option role="option" data-code="+598" value="UY">אורוגוואי ‪(+598)‬</option>
        <option role="option" data-code="+998" value="UZ">אוזביקסטן ‪(+998)‬</option>
        <option role="option" data-code="+678" value="VU">ונואטו ‪(+678)‬</option>
        <option role="option" data-code="+379" value="VA">קריית הוותיקן ‪(+379)‬</option>
        <option role="option" data-code="+58" value="VE">ונצואלה ‪(+58)‬</option>
        <option role="option" data-code="+84" value="VN">ויאטנם ‪(+84)‬</option>
        <option role="option" data-code="+681" value="WF">ווליס ופוטונה ‪(+681)‬</option>
        <option role="option" data-code="+967" value="YE">תימן ‪(+967)‬</option>
        <option role="option" data-code="+260" value="ZM">זמביה ‪(+260)‬</option>
        <option role="option" data-code="+263" value="ZW">זימבבואה ‪(+263)‬</option>
    </select>
                        <div class="arrow"></div>
                    </div>

                </div>
                <div class="form-input-container">
                    <input class="phone-no " type="text" name="username" id="login-username" tabindex="1" value="" autocomplete="username" autocapitalize="none" autocorrect="off" autofocus="true" placeholder=" " data-ylk="elm:input;elmt:focus;slk:username;mKey:login-landing-focus-username"
                        data-rapid-tracking="true">
                    <div class="input-field-icon hide" id="username-field-icon"></div>
                    <label for="login-username" id="login-label" class="login-label" aria-hidden="true">שם משתמש, דוא"ל או מספר טלפון נייד</label>
                    <ul class="auto-fill-overlay hide" aria-live="polite" id="domain-auto-fill">
                        <li data-fill="yahoo.com">yahoo.com</li>
                        <li data-fill="gmail.com">gmail.com</li>
                        <li data-fill="outlook.com">outlook.com</li>
                        <li data-fill="aol.com">aol.com</li>
                    </ul>
                </div>
                <div class="hidden-input-container">
                    <input name="passwd" type="password" tabindex="-1" aria-hidden="true" role="presentation" autocorrect="off" placeholder="Password">
                </div>
            </div>
            <p id="username-error" class="row error hide" role="alert" data-error=""></p>


            <div class="button-container">
                <input id="login-signin" type="submit" name="signin" class="orko-button-primary orko-button challenge-button" value="הבא" tabindex="2" data-rapid-tracking="true" data-ylk="elm:btn;elmt:primary;slk:next;mKey:login-landing-next" aria-hidden="false">
            </div>
            <div class="helper-links-container row">
                <div class="helper-item ">
                    <span class="stay-signed-in checkbox-container">
                    <input id="persistent" name="persistent" value="y" type="checkbox" tabindex="3" checked="">
                    <label for="persistent">הישאר מחובר</label>
                </span>
                </div>
                <div class="helper-item arlink">
                    <span class="help">
                    <a href="/forgot?src=noSrc" id="mbr-forgot-link" data-ylk="elm:btn;elmt:forgot;slk:forgot;mkey:login-landing-forgot" data-rapid-tracking="true">שכחת את שם המשתמש?</a>
                </span>
                </div>
            </div>

            <div class="bottom-links-container ">
                <p class="row sign-up-link">
                    <a href="/account/create?src=noSrc&amp;specId=yidReg" id="createacc" role="button" class="orko-button-secondary orko-button challenge-button" data-rapid-tracking="true" data-ylk="sec:signup;elm:link;elmt:primary;mKey:login-landing-signup;slk:create account">צור חשבון</a>
                </p>

            </div>
        </form>
    </div>
</div>
<div id="login-info-box" class="info-box" style="display: block;">
    <h3 class="title">Yahoo מאפשרת לך ליהנות בקלות ממה שבאמת חשוב לך בעולם.</h3>
    <p class="desc">Yahoo Mail הטוב מסוגו, מבזקי חדשות מקומיות, ארציות ובינלאומיות, פיננסים, ספורט, מוסיקה, סרטים ועוד. הפק יותר הנאה מהרשת, הפק יותר הנאה בחיים.</p>
</div>
</div>