.logoDiv {
    border-bottom: solid;
    border-color: #9d1c1d;
    border-width: 4px;
    margin-top: 2%;
    margin-bottom: 6%;
    height: 28%;
}

.logoImgDiv {
    margin-right: 43%;
    margin-bottom: 12%;
}

.titleImgDiv {
    margin-right: 39%;
}