<div class="footer">
    <div>
        <a class="contact" href="tel:073-7584240">2meat | online resturant | 073-7584240</a>
    </div>
    <div class="info">אצלינו במסעדה מחכה לכם מסעדת בשרים כשרה, עם חוויה רב חושית של טעמים, ניחוחות וצבעים ססגוניים. מסעדת 2maet המרשימה ביופייה משתרעת על שטח רחב ידיים, המאפשר לכל מבלה למצוא את הפינה החמה שלו. פינות ישיבה מרופדות, תקרה גבוהה ותאורת אווירה צבעונית הם רק
        חלק מהתפאורה המושקעת של המתחם המפואר. וזה לא הכול: ההנאות שגולשות גם לשטח הפתוח, שבו מחכה לכם מרפסת עם דק מעץ ופינות ישיבה מרווחת הצופות לעצים המוריקים שצצים מכל עבר. התפריט הכשר שלנו כולל תענוגות חך מכל הסוגים. מתחילים עם סלטי הבית שפותחים את
        התיאבון וממשיכים עם פסטות מגוונות, דגים טריים וכמובן נתחי בשר משובחים העוברים יישון שנמשך לא פחות מ 21 יום. לאחר שהם נצלים במיומנות, זורמים מהגריל של גחלים היישר לשולחן סטייקים עסיסיים, פרגיות, כנפיים ומעדנים נוספים שיגרמו לכם ללקק את האצבעות
        מרוב הנאה. כל חומרי הגלם נבחרים בקפידה ונכנסים למסעדה רק לאחר קבלת אישור של משגיח הכשרות ואישור ווטרינרי. הטריות וההיגיינה מטביעים את חותמם בטעמים המופלאים וגוררים תגובות נלהבות מהסועדים. לסיום יחכו לכם קינוחים מפתים שבהם וופל בלגי, סופלה שוקולד
        והפתעות נוספות שיעניקו גראנד פינאלה לארוחה שכולה הנאה.</div>
</div>