<div class="talbe">
    <table>
        <tr>
            <th class="headTitle">נוכחות עובדים ליום : {{today | date}} </th>
        </tr>
        <tr class="title">
            <th>שם עובד</th>
            <th>שעת כניסה</th>
            <th>שעת יציאה</th>
            <th>משמרת</th>
            <th>סה"כ שעות עבודה יומי</th>
        </tr>
        <tr *ngFor="let w of listDailtWorker">
            <td>{{w.IdUser}}</td>
            <td>{{w.EntranceTime | date:'mm:ss' }} </td>
            <td>{{w.LeavingTime | date:'mm:ss'}}</td>
            <td>{{w.Shift }}</td>
            <td>{{w.NumWorkingHours}}</td>

        </tr>

    </table>
</div>