<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-text-center">
                <h2>? איך תרצה לקבל את ההזמנה</h2>
            </div>
            <div class="col-btn-right">
                <a href="#" data-toggle="modal" data-target="#delivery_modal" class="btn btn-primary d-block mt-2">
                    <i class="fa fa-motorcycle"></i> משלוח
                </a>
            </div>
            <div class="col-bnt-left">
                <a href="#" data-toggle="modal" data-target="#takeaway_modal" class="btn btn-primary d-block mt-2">
                    <i class="fa fa-shopping-bag"></i> איסוף עצמי</a>
            </div>
        </div>
    </div>
</div>