<div class="takeOrder">
    <button mat-flat-button color="primary" (click)="showlistOfprepaer()">רשימת הזמנות בטיפול</button>
</div>
<div class="talbe">
    <table>
        <tr class="title">
            <h3>הזמנות למשלוחים</h3>
        </tr>
        <tr class="subTitle">
            <th>תאריך הזמנה</th>
            <th>מספר הזמנה</th>
            <th>שם המזמין</th>
            <th>מנה</th>
            <th></th>
        </tr>
        <tr *ngFor="let o of sendOrderList">
            <td>{{o.dateInvent|date : "d/M/yy HH:mm"}}</td>
            <td>{{o.id}}</td>
            <td>{{o.visiterName}}</td>
            <div *ngFor="let m of o.inventDetails">
                <td>{{m.menuName}}</td>
                <td><span>כמות :</span> {{m.amount}}</td>
            </div>
            <td>
                <button mat-flat-button color="primary" (click)="readyMenu(o)">בטיפול</button>
            </td>
        </tr>
    </table>
</div>
<div class="talbe">
    <table>
        <tr class="title">
            <h3>הזמנות במסעדה</h3>
        </tr>
        <tr class="subTitle">
            <th>תאריך הזמנה</th>
            <th>מספר הזמנה</th>
            <th>שם המזמין</th>
            <th>מנה</th>
            <th></th>
        </tr>
        <tr *ngFor="let o of resurantOrderList">
            <td>{{o.dateInvent|date : "d/M/yy HH:mm"}}</td>
            <td>{{o.id}}</td>
            <td>{{o.visiterName}}</td>
            <div *ngFor="let m of o.inventDetails">
                <td>{{m.menuName}}</td>
                <td><span>כמות :</span>{{m.amount}}</td>
            </div>
            <td>
                <button mat-flat-button color="primary" (click)="readyMenu(o)">בטיפול</button>
            </td>
        </tr>
    </table>
</div>
<div class="talbe">
    <table>
        <tr class="title">
            <h3>הזמנות take away</h3>
        </tr>
        <tr class="subTitle">
            <th>תאריך הזמנה</th>
            <th>מספר הזמנה</th>
            <th>שם המזמין</th>
            <th>מנה</th>
            <th></th>
        </tr>
        <tr *ngFor="let o of takeawayOrderList">
            <td>{{o.dateInvent|date : "d/M/yy HH:mm"}}</td>
            <td>{{o.id}}</td>
            <td>{{o.visiterName}}</td>
            <div *ngFor="let m of o.inventDetails">
                <td>{{m.menuName}}</td>
                <td><span>כמות :</span>{{m.amount}} </td>
            </div>
            <td>
                <button mat-flat-button color="primary" (click)="readyMenu(o)">בטיפול</button>
            </td>
        </tr>
    </table>
</div>
<!--    <div>
        <h3> Take away הזמנות</h3>
        <table>
            <tr class="order">
                <th>סוג הזמנה </th>
                <th>שם המזמין</th>
                <th>שם מנה</th>
                <th>כמות</th>
                <th></th>
            </tr>
            <tr *ngFor="let o of takeawayOrderList">
                <td> </td>
                
                <td>
                    <button mat-flat-button color="primary" *ngIf="countOfhandle>=5?handleTakeAwat(o):showError()">בטיפול</button>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <h3>הזמנות לסועד במסעדה</h3>
        <table>
            <tr class="order">
                <th>סוג הזמנה </th>
                <th>שם המזמין</th>
                <th>שם מנה</th>
                <th>כמות</th>
                <th></th>
            </tr>
            <tr *ngFor="let o of resurantOrderList">

                <td>
                    <button mat-flat-button color="primary">בטיפול</button>
                </td>
            </tr>
        </table>
    </div>

</div> -->