<!-- <div class="tool-up"></div>
<app-logo></app-logo> -->
<app-header></app-header>
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="תפריט">
        <ng-template mat-tab-label>
            <mat-icon>menu</mat-icon>
            ניהול תפריט
        </ng-template>
        <app-menu-management></app-menu-management>
    </mat-tab>
    <mat-tab label="עובדים">
        <ng-template mat-tab-label>
            <mat-icon>groups</mat-icon>
            ניהול עובדים
        </ng-template>
        <app-worker></app-worker>
    </mat-tab>
    <mat-tab label="עובדים">
        <ng-template mat-tab-label>
            סידור משמרות עובדים
        </ng-template>
        <app-calandar-to-manager></app-calandar-to-manager>
    </mat-tab>
    <mat-tab label="עובדים">
        <ng-template mat-tab-label>
            נוכחות עובדים
        </ng-template>
        <app-manager-worker></app-manager-worker>
    </mat-tab>
    <mat-tab label="תפריט">
        <ng-template mat-tab-label>
            <mat-icon>favorite</mat-icon>
            מנות מומלצות
        </ng-template>
        <app-favorite-dose></app-favorite-dose>
    </mat-tab>
    <mat-tab label="תפריט">
        <ng-template mat-tab-label>
            <mat-icon>thumb_up</mat-icon>
            חווית גולשים
        </ng-template>
        <app-user-comment></app-user-comment>
    </mat-tab>
</mat-tab-group>