<app-logo></app-logo>
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="תפריט">
        <ng-template mat-tab-label>
            ניהול תפריט
            <mat-icon>menu</mat-icon>
        </ng-template>
        <app-menu-management></app-menu-management>
    </mat-tab>
    <mat-tab label="תפריט">
        <ng-template mat-tab-label>
            ניהול תפריט
            <mat-icon>menu</mat-icon>
        </ng-template>
        <app-menu-management></app-menu-management>
    </mat-tab>
    <mat-tab label="עובדים">
        <ng-template mat-tab-label>
            ניהול עובדים
            <mat-icon>menu</mat-icon>
        </ng-template>
    </mat-tab>
    <mat-tab label="תפריט">
        <ng-template mat-tab-label>
            מנות מומלצות
            <mat-icon>menu</mat-icon>
        </ng-template>
    </mat-tab>
    <mat-tab label="תפריט">
        <ng-template mat-tab-label>
            חווית גולשים
            <mat-icon>menu</mat-icon>
        </ng-template>
    </mat-tab>
</mat-tab-group>