<mat-card>
    <div class="wrapper">
        <div class="title-party">
            <app-party title="הזמנות גדולות" icon="restaurant"></app-party>
        </div>
        <div class="Text-content-party">
            מארגנים מפגש של כמה אנשים או חוגגים אירוע?
            <br>ברור שב<img [src]="'../../assets/images/caption/captionImg.PNG'" style="width: 6%;
        padding-bottom: 1%;" />זו הבחירה הנכונה!
            <br>אצלינו תוכלו לקבל מחירים מיוחדים עבור הזמנות מעל 5 מגשים.
            <br>השאירו פרטים ונחזור אליכם ממש זריז עם הצעה משתלמת:
        </div>
        <div class="contact">
            <app-contact-details component="big-orders"></app-contact-details>
        </div>
    </div>
</mat-card>