<div class="talbe">
    <div class="Calandar">
        <label> יש לבחור תחילת שבוע הרצוי להצגת המשמרות השבועית</label>
        <input type="date" #date (change)="getCalandr(date.value)" name="" id="">
    </div>
    <table>
        <tr class="day">
            <th></th>
            <th>ראשון</th>
            <th>שני</th>
            <th>שלישי</th>
            <th>רביעי</th>
            <th>חמישי</th>
            <th>שישי</th>
        </tr>
        <tr>
            <td class="shift1"><b>משמרת א'</b></td>
            <td *ngFor="let item of listMorning; ">
                <label>
                    <div *ngFor="let item1 of item.employeeName;let i = index;">{{item1}}
                        <button mat-stroked-button color="primary" *ngIf="item1!=''" (click)='deleteShirt()'>
                            <mat-icon>clear</mat-icon> בטל
                        </button>
                        <button mat-stroked-button color="primary" *ngIf="item1!=''" (click)='editShirt(i,item)'>
                            <mat-icon>vertical_align_bottom</mat-icon> החלף
                        </button>
                    </div>
                </label>
            </td>
        </tr>
        <tr>
            <td class="shift2"><b>משמרת ב'</b></td>
            <td *ngFor="let item of listEvening; ">
                <label>
                    <div *ngFor="let item1 of item.employeeName; let i = index;">{{item1}}
                        <button mat-stroked-button color="primary" *ngIf="item1!=''" (click)='deleteShirt()'>
                            <mat-icon>clear</mat-icon> בטל
                        </button>
                        <button mat-stroked-button color="primary" *ngIf="item1!=''" (click)='editShirt(i,item)'>
                            <mat-icon>vertical_align_top</mat-icon> החלף
                        </button>
                    </div>
                </label>
                <td>
        </tr>
    </table>
    <button class="finish" mat-flat-button color="primary" (click)='finish()'>
        הנפקת דוח שעות שבועי , סיום
    </button>
</div>