/* .main-img-party {
    max-width: 100%;
    height: auto;
    opacity: 50%;
}

.main_sidebar_right {
    position: absolute;
    top: 15%;
    left: 90%;
}

.mat-list-option {
    border-bottom: solid;
    border-width: thin;
    border-color: darkgray;
}

.mat-list-option .material-icons:last-of-type {
    transition: .4s;
}

.mat-list-option:hover .material-icons:last-of-type {
    transform: translateX(-7px);
}
*/

h2.title {
    text-align: right;
    transition: .5s cubic-bezier(.35, 0, .25, 1);
    position: relative;
    right: 22px;
    top: 32px;
    width: 160px;
    transform: translateX(15px);
    width: fit-content;
    font-size: 32px;
}

.icon-party {
    color: #8c0f29;
}