<div>
    <img class="main-img-party" [src]=" '../assets/party/153580-OU5Z4Q-484.jpg' ">
    <div class="main_sidebar_right">
        <mat-selection-list [multiple]="false" class="party_list">
            <mat-list-option style="display: flex;width: 100%">
                קייטרינג
                <!-- <span class="material-icons">
                    shopping_basket
                    </span> -->
                <mat-icon>shopping_basket</mat-icon>
                <span class="material-icons">
                    arrow_back_ios
                    </span>
            </mat-list-option>
            <mat-list-option>
                ימי הולדת
                <span class="material-icons">
                    cake
                    </span>
                <span class="material-icons">
                        arrow_back_ios
                        </span>
            </mat-list-option>
            <mat-list-option>
                שוברי מתנה
                <span class="material-icons">
                    card_giftcard
                    </span>
                <span class="material-icons">
                        arrow_back_ios
                        </span>
            </mat-list-option>
            <mat-list-option>
                הזמנות גדולות
                <span class="material-icons">
                    add_shopping_cart
                    </span>
                <span class="material-icons">
                    arrow_back_ios
                    </span>
            </mat-list-option>
        </mat-selection-list>
    </div>
</div>