    .star {
        font-size: 1.5rem;
        color: #e2d7a2
    }
    
    .filled {
        color: gold;
    }
    
    .bad {
        color: #e9d368;
    }
    
    .filled.bad {
        color: rgba(236, 222, 140, 0.863);
    }
    
    .slider mat-slider {
        width: 300px;
    }
    
    mat-card-actions {
        text-align: center !important;
    }
    
    mat-card-actions button {
        display: block;
        margin: 2%;
    }
    
    .comment {
        position: absolute;
        position: -webkit-sticky;
        right: 68%;
        border: solid;
        border-color: #9a2d44;
        font-size: larger;
        width: max-content;
        padding: 2%;
        text-align: center;
    }
    
    mat-form-field {
        width: 250px;
    }
    
    .sent-comment {
        font-size: 17px;
    }
    
    mat-card {
        width: 35%;
        margin-bottom: 4%;
        margin-right: 27%;
    }
    
    span {
        display: block;
        font-size: 18px;
    }
    
    .title {
        position: relative;
        top: -60px;
        background-color: white;
        font-size: 22px;
        font-weight: 600;
        padding: 6%;
    }